.green {
    border: dotted;
    border-color: green;
    text-align: center;
    background-color: green;
}

.blue {
    border: dotted;
    border-color: blue;
    color: white;
    text-align: center;
    background-color: blue;
}