.red {
    border: solid;
    border-color: red;
    margin: 20px;
    background-color: aliceblue;
}

.black {
    border: solid;
    border-color: black;
    text-align: center;
    margin: 20px;
    background-color: blanchedalmond;
}
