.red {
    border: solid;
    border-color: red;
    margin: 20px;
    background-color: red;
}

.black {
    border: solid;
    color: white;
    border-color: black;
    text-align: center;
    margin: 20px;
    background-color: black;
}